body {
    background-image: url(../../assets/images/thanos-pic.png);
}

h1 {
    padding: 10px;
    width: 30%;
    border: 2px solid gold;
    background: purple;
    color: gold;
    font-size: 40px;
    font-weight: bold;
    font-family: fantasy;
    text-align: center;
    margin-left: 36%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.instructions {
    padding: 10px;
    width: 80%;
    border: 3px solid gold;
    background: darkred;
    color: yellow;
    font-size: 20px;
    margin-left: 10%;
    margin-bottom: 15px;
    opacity: 
}

.number-display {
    padding: 10px;
    background: gold;
    border: 2px solid white;
    color: blue;
    width: 20%;
    height: 100px;
    float: left;
    font-size: 30px;
    margin: 10px;
}

.wins-losses {
    padding: 10px;
    background: green;
    border: 2px solid white;
    color: white;
    width: 20%;
    height: 100px;
    float: left;
    font-size: 30px;
    margin: 10px;
}

.stones {
    text-align: center;
    margin-right: 5%;
}

img {
    max-width: 10%;
    max-height: 10%;
    border: 2px solid white;
}

.userTotal {
    padding: 10px;
    background: blue;
    border: 2px solid white;
    color: yellow;
    width: 20%;
    height: 100px;
    font-size: 30px;
    margin: 15px;
}
